<footer>
  <div class="flex items-center justify-between text-gray-400">
    <%= simple_format t('app.copyright'), class: "w-full md:text-sm text-xs text-right md:px-10 py-5 md:text-right text-center" %>
  </div>
</footer>